<html>
<head><title>SEARCH</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel = "stylesheet" type = "text/css" href = "/static/style.css" >
<style>
.background {
      background: linear-gradient(rgba(0, 210, 255, 0.77), rgba(30, 23, 23, 0.5) ), url(/static/mobile.jpg);
	height: 100%;
        background-size:cover;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.table-striped{
       background: grey;
}
</style>
</head>
<body class="background">
<!----nav bar----->
 <div class="container">
   <ul class="nav nav-tabs" role="tablist">
    <li><a href="/">Home</a></li>
    <li><a href="/search">Get Diagonised</a></li>
    <li><a href="/location">Search for hospitals</a></li>
   </ul>
 </div>
<!---enter address form----->
 <div class="container">
    <form class="from-group" action="/map_med" method="POST">
      <input type="text" name="add" class="form-control" placeholder="Input your address"></input>
      <input type="submit" name="GET NEAREST HOSPITAL"></input>
    </form>
 </div>
</body>
</html>
